[Unit]
Description=Ethereum smart contracts network client daemon - Parity
After=network.target

[Service]
User={{ parity_user }}
Group={{ parity_group }}

Type=forking
PIDFile={{ parity_home }}/parity.pid
ExecStart={{ parity_dst_bindir }}/parity daemon {{ parity_home }}/parity.pid --log-file {{ parity_home }}/parity.log {{ parity_extra_args }}

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
