[Unit]
Description=Ethereum smart contracts network client daemon
After=network.target

[Service]
User={{ geth_user }}
Group={{ geth_group }}

Type=simple
ExecStart={{ geth_bindir }}/geth {{ geth_extra_args }}

Restart=always
PrivateTmp=true
TimeoutStopSec=90s
TimeoutStartSec=10s
RestartSec=10s
StartLimitIntervalSec=4h
StartLimitBurst=1440

[Install]
WantedBy=multi-user.target
