[Unit]
Description=Ethereum smart contracts network client daemon
After=network.target

[Service]
User={{ geth_user }}
Group={{ geth_group }}

Type=simple
ExecStart={{ geth_bindir }}/geth --config {{ geth_home }}/config.toml {{ geth_extra_args }}

Restart=always
PrivateTmp=true
TimeoutStopSec=90s
TimeoutStartSec=10s
RestartSec=15s
StartLimitInterval=4h
StartLimitBurst=500

[Install]
WantedBy=multi-user.target
