
command[check_{{ systemd_service_name }}_service]=/usr/lib/nagios/plugins/check_sistemd.sh {{ systemd_service_name }}

command[check_eth_node_sync]=/usr/bin/check_eth_node_sync -e {{ server_eth_rpc }}
